.header {
    width:100%;
    height: 25px;
    background-color: #112f46;
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #e9eaec;
    font-style: bold;
}

.header_left {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    text-align: center;
    font-size: 13px;
    font-style: bold;
    line-height: 28px;
}

.header_right {
    display: grid;
    grid-template-columns: repeat(5, 60px) 150px;
    font-size: 13px;
    line-height: 28px;
}

.italic {
    font-style: italic;
    font-size: 15px;
}

.left_icon {
    
}